html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
}

input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
.custom-checkbox-input {
  display: none;
}
.custom-checkbox-label {
  font-family: "Poppins";
  cursor: pointer;
}
.custom-checkbox-box {
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: max-content;
}
