$blue-color: #42a7fe;
$green-color: #00c899;
$primary: #fa4c53;
$secondary: #fd9c84;
$gradient: linear-gradient(to right, $primary, $secondary);
$text-color: #291667;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
table {
  width: 100%;
  th {
    text-transform: uppercase;
    font-weight: 600;
  }
  td,
  th {
    color: #8c94a7;
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem;
  }
  thead tr {
    border-bottom: 1px solid #ccc;
  }
  .desc {
    white-space: nowrap;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .status {
    display: inline-block;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    &--active {
      color: green;
      background-color: rgba(green, 0.2);
    }
  }
}
