$blue-color: #42a7fe;
$green-color: #00c899;
$primary: #fc556f;
$secondary: #fd9c84;
$gradient: linear-gradient(to right, $primary, $secondary);
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #f3f3f3;
  padding: 2rem;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
.post {
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  @include flexbox(stretch, space-between);
  max-width: 100rem;
  margin: 0 auto;
  &__left,
  &__right {
    width: calc(50% - 1rem);
  }
  &__media {
    height: 25rem;
    position: relative;
    margin-bottom: 3.5rem;
  }
  &__image {
    @include size(100%);
    object-fit: cover;
    border-radius: 1rem;
    &--small {
      @include size(15rem, 10rem);
      margin-right: 1.5rem;
      flex-shrink: 0;
    }
  }
  &__category {
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    background-image: $gradient;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
  }
  &__icon {
    @include size(5rem);
    @include flexbox(center, center);
    color: white;
    background-image: $gradient;
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
    transform: translateY(50%);
    z-index: 2;
  }
  &-author {
    @include flexbox(center);
    color: #999;

    font-size: 1.4rem;
    margin-bottom: 2rem;
    &__avatar {
      @include size(4rem);
      border-radius: 4rem;
      object-fit: cover;
      margin-right: 1rem;
    }
    &__name {
      margin-right: 2.5rem;
      padding-right: 2.5rem;
      position: relative;

      &:before {
        content: "";
        @include size(5px);
        border-radius: 1rem;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__date {
    color: #999;
    font-size: 1.4rem;
  }
  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    &--small {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  }
  &__desc {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #999;
  }
  &__item {
    @include flexbox(center);
    &:not(:last-child) {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #eee;
    }
  }
  &__content {
    width: 100%;
    flex-grow: 1;
  }
}
