$blue-color: #42a7fe;
$green-color: #00c899;
$primary: #fa4c53;
$secondary: #fd9c84;
$gradient: linear-gradient(to right, $primary, $secondary);
$text-color: #291667;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
.signup {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(black, 0.1);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  &__content,
  &__image {
    width: 100%;
  }
  &__heading {
    font-weight: bold;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: $text-color;
  }
  &__caption {
    color: $primary;
    font-weight: bold;
    margin-bottom: 4.5rem;
    position: relative;
    padding-left: 12rem;
    &:before {
      content: "";
      width: 10rem;
      height: 2px;
      background-color: $primary;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }
  }
  &-social {
    @include flexbox(stretch, space-between);
    margin-bottom: 6rem;
    &__item {
      padding: 1.5rem 2.5rem;
      border-radius: 10px;
      border: 1px solid #eee;
      cursor: pointer;
      @include flexbox(center, center);
      color: $text-color;
      width: calc(50% - 1.5rem);
    }
    &__icon {
      margin-right: 2rem;
    }
  }
  &-form {
    &__label {
      color: $text-color;
      display: inline-block;
      margin-bottom: 1rem;
      transform: translateX(1rem);
      cursor: pointer;
    }
    &__input {
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      background-color: #fafbff;
      border-radius: 10px;
      display: block;
      width: 100%;
      transition: all 0.2s linear;
      &:focus {
        background-color: #fff;
        border-color: $primary;
        & + .signup-form__check {
          background-color: $primary;
          color: white;
        }
      }
    }
    &__row {
      @include flexbox(stretch, space-between);
    }
    &__term {
      input {
        display: none;
        &:checked + label:before {
          border-color: $primary;
          background-color: $primary;
        }
      }
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-top: 3rem;
        padding-left: 3.5rem;
        margin-bottom: 5rem;
        &:before {
          content: "";
          @include size(2.5rem);
          border-radius: 8px;
          background-color: #eee;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid #ccc;
          transition: all 0.25s linear;
        }
      }
    }

    &__validate {
      position: relative;
      .signup-form__input {
        padding-right: 6rem;
      }
    }
    &__check {
      @include size(3rem);
      border-radius: 10px;
      background-color: #eee;
      color: $text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.25s linear;
    }
  }
  &__already {
    color: $text-color;
    a {
      color: $primary;
    }
  }
}

// @media screen and (max-width: 1023px) {
//   .signup {
//     &__content {
//       width: calc(60% - 1rem);
//     }
//     &__image {
//       width: calc(40% - 1rem);
//     }
//   }
// }
// @media screen and (max-width: 1023px) {
//   .signup {
//     &__content {
//       width: 100%;
//     }
//     &__image {
//       display: none;
//     }
//   }
// }
// @media screen and (max-width: 1023px) {
//   body {
//     padding: 2rem;
//   }
//   .signup {
//     padding: 2rem;
//     &-social {
//       flex-direction: column;
//       &__item {
//         width: 100%;
//         margin-bottom: 1rem;
//       }
//     }
//     &-form {
//       &__row {
//         flex-direction: column;
//         margin-bottom: 0;
//         .signup-form__group {
//           width: 100%;
//         }
//       }
//       &__group {
//         width: 100%;
//         margin-bottom: 2rem;
//       }
//     }
//   }
// }
