$blue-color: #42a7fe;
$green-color: #00c899;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

.post {
  &__list {
    padding: 2rem;
    @include flexbox();
    margin-left: -2rem;
  }
  &__item {
    margin-left: 2rem;
    width: calc(33.33% - 2rem);
  }
  &__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  &__content {
    padding: 2rem;
    background-color: white;
    border: 1px solid #eee;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 2;
  }
  &__author {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    object-fit: cover;
  }
}
