$blue-color: #42a7fe;
$green-color: #00c899;
$primary: #fa4c53;
$secondary: #fd9c84;
$gradient: linear-gradient(to right, $primary, $secondary);
$text-color: #291667;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  padding: 2rem;
}
input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
body {
  background-color: #131933;
}
.boxed {
  @include size(10rem, 4rem);
  border: 10px solid orange;
  border-image-source: linear-gradient(to right bottom, $primary, $secondary);
  border-image-slice: 1;
  border-radius: 10rem;
}
