$primary-color: #00aefd;
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
p {
  color: $primary-color;
}
.header {
  &-top {
    color: red;
  }
}
// .header {}
// .header-top{}
// .header-content{}
// .header-content:hover{}
// .header-content:before{}
// .header-content:hover:before{}
